.Navbar
{
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 5px;
}

.Navbar-Icon
{
    font-size:20px;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Navbar-Name
{
    font-size: 20px;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Navbar-Pages
{
    align-self: center;
    justify-content: center;
    gap: 20px;
    display: flex;
    flex: 1;
    padding-left: 15px;
    justify-content: space-between;
    font-weight: 500;
    flex-direction: row;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.Description
{   
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.rounded-card
{   
    display: flex;
    flex-direction: row;
    padding-left: 42%;
    border: solid 2px rgb(30, 25, 25);
    border-radius: 10px;
}

.heading1
{
    font-size: 60px;
    font-weight: 800;
}

.heading2
{
    color: rgba(255, 255, 255, 0.579);
    font-size: 60px;
    font-weight: 800;
}

.Buttons
{
    color: black;
    background-color: white;
    width: max-content;
    justify-content: flex-start;
    border: 3px black;
    border-radius: 10px;
    justify-content: center;
    flex: 1;
    justify-content: flex-end;
}

